.admin-container {
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .admin-form {
    text-align: center;
    max-width: 800px;  
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .admin-form .MuiGrid-container {
    justify-content: center;
    gap: 10px; /* Adjust the gap value for desired spacing */
  }
  
  .admin-form > div {
    margin-bottom: 10px;
  }
  
  .admin-form label {
    display: block;
    margin-bottom: 5px;
  }

  .submit-button {
    display: block;
    margin: 10px auto;
  }  

  .mobile-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    .admin-form .MuiGrid-container {  /* Target Grid containers */
      width: 100%;
    }
    
    .admin-form .MuiInputBase-root { /* Target Input fields */
      width: 100%;
    }
  }

  .equal-width-button {
    width: 300px;
    display: inline-block; /* Ensures buttons stay on the same line */
    margin: 10px 10px; /* Optional spacing between buttons */
  }

  